<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/about.css')}}">
</head>
<body> 
   
    <div class="about-section">
      
        <h1>ABOUT US</h1>
        <h2>
           <marquee> Follow us on social media for better interaction </marquee>
        </h2>
        <p>Welcome to NITMAS, where we are dedicated to providing exceptional education and fostering personal and intellectual growth in our students.</p>
        <!--<p>Explore our website to learn more about our programs, faculty, and facilities.</p>-->
    </div>
    <div class="container">
        <aside class="sidebar">
            <div class="heading">
                <h2>About Us</h2>
            </div>
            <p>Welcome to NITMAS, where we are dedicated to providing exceptional education and fostering personal and intellectual growth in our students.</p>
            <p>Explore our website to learn more about our programs, faculty, and facilities.</p>
            <p>Prime source of knowledge in the Neotia Institute of Technology, Management and Science i.e. (NITMAS) 
              formerly known as
               ITME is undoubtedly the Institute's exhaaustive Library from where, every effort has been made to
                provide students 
               as well as faculty/staff members with all the information they need. The Library plays a vital role 
               in acquisition, 
               organization and dissemination of knowledge to satisfy the Institute's vision "Towards Tomorrow",
               The primary mission of the Library is to <a href="/more"><b>More</b></a>  </p>
        </aside>
        
        <div class="video-container">
            <video autoplay muted loop id="myVideo">
            <source src="../static/assets/Neotia_video.mp4" type="video/mp4" height="100" width="150">
          </video> </div>
          
          <!-- Optional: some overlay text to describe the video --> 
        
    </div>
    <div class="gallery">
        <img src="../static/assets/1.jpg" height="200" width="300"  alt="Library Rules Gallery Image 1">
        <img src="../static/assets/Library photo 2.jpeg" height="200" width="350"  alt="Library Rules Gallery Image 2">
        <img src="../static/assets/1.jpg" height="200" width="350" alt="Library Rules Gallery Image 3">
        <!-- Add more images as needed -->
        <img src="../static/assets/Library logo 1.jpg" height="200" width="330" alt="Library Rules Gallery Image 3">
    
</div>


<h2 style="text-align:center">Our Team</h2>
            <div class="rowv>
            </div>">
                
                    <div class="card">
                        
                        <img src="../static/assets/chairman.png" alt="Chairman" height="190px" width="250px">
                        <div class="container">
                           <h3>Mr. Harshavardhan Neotia - Chairman</h3>
                            <p>"The highest education is that which does not 
                              merely give us information but makes our life in 
                              harmony with all existence." - Rabindranath Tagore.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <img src="../static/assets/Principal.png" alt="Principle" height="190px" width="250px">
                        <div class="container">
                            <h3>Sujoy Biswas - Principal</h3>
                            <p>“Education is not the amount of information that is put into the brain and runs riot there, undigested all your life. We must have life-building, man-making, character-making, assimilation of ideas." - Swami Vivekananda</p>
                        </div>
                    </div>
                </div>

    <section class="rules-section">
    <div class="rules-container">
    <p> <h3 >Rules and Regulations</h3></p>
    <Ul >
      <li>Silence must be observed in the Library
      </li>
      <li>Loitering, gossiping, smoking, eating are strictly prohibited
      </li>
      <li>Users should switch off their Mobile Phones inside the Library.
      </li>
      <li>
        Users are advised to avoid talking and / or discussion so as not to create disturbance to other readers.
        </li>
      <li>
        Members are required to carry their Library membership Card while visiting Library and must show them at the request of the Library Staff Members.
        </li>
        <li>Users are requested to switch off electric fans and lights when not required.
        </li>
        <li>Multilation of library materials and damage to library property are serious offences. The members shall be held responsible for any damage done to the documents or any other property belonging to the Library, and shall be required to replace such books / property damaged.

        </li>
        <li>Students are required to enter into the Library 
          with descent dress for availing of the Library facilities.</li>
          <li>All members associated with Institute should obtain Clearance Certificate from the Library before being released from the Institute.
          </li>
    </Ul> </div>
    </section>

      <div class="card-hour">
        <div class="card-header">
           <b>Library Hours
        </div>
        <div class="card-body">
            <p>Monday - Friday: 9:00 AM - 6:00 PM</p>
            <p>Saturday: 10:00 AM - 4:00 PM</p>
            <p>Sunday: Closed</p></b>
        </div>
      </div>
</body>
<footer>
    <p>&copy; 2024 Our Library. All rights reserved.</p>
    <div class="bar-ball">
        <div class="bar">
            <div class="ball"></div>
        </div>
    </div>
    
    
    
  </footer>
</html>
