<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css')}}">
    <title>Library Admin Home</title>
</head>
<body> 

    <div class="admin-home-container">
        <div class="top-section">
            <div>
                <left>
                    <img src="../static/assets/nitmas logo 2.jpg" height="50" width="50">
                </left>
            </div>

            <div class="college-info">
                <h2>Neotia Institute of Technology Management & Science</h2>
            </div>
            <div class="user-info">
                <img src="../static/assets/nitmas logo 2.jpg" alt="Admin Photo">
                <p>Welcome {{username}}</p><br><hr>
                <button onclick="location.href='#';">Reset Password</button><hr>
                <button onclick="location.href='/logout';">Logout</button>
            </div>
        </div>
        
        <div class="main-section">
            <h1>Library Management Admin Portal</h1> 
            <img src="../static/assets/Library logo 1.jpg" height="250" width="1100">
            
            <br> 
            <div class="activity-buttons"> 
            <button onclick="location.href='/bookentry';">Book Entry</button>
            <button onclick="location.href='/issuebook';">Issue Book</button>
            <button onclick="location.href='/takesubmission';">Take Submission</button>
            <button onclick="location.href='#';">Edit & Delete Books</button>
            <button onclick="location.href='/adminfine1';">Fine Reciept</button>
            <button onclick="location.href='#';">User Details</button> 
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Library Management System. All rights reserved.</p>
      </footer>
</body>

</html>