support the educational programs of the Institute by providing physical and intellectual access to information, consistent with the present and anticipated educational functions of the Institute, The Secondary mission is to serve as a resource centre for the scholars in the field of Science, Engineering & Technology. The Library is housed in a sprawling area of about 5,619 sq. ft. in the top floor of the Administrative Building and organized into various sections, supervised and maintained by highly qualified professional staff members. The Library serves the academic needs of about 1500 students and nearly 300 faculty & staff members of our Institute.
 The resources of the Library stand more than 31 and intellectual access to information, consistent with the present and 
                anticipated educational functions of the Institute, The Secondary mission is to serve as a 
                resource centre for the scholars in the field of Science, Engineering & Technology.

              The Library is housed in a sprawling area of about 5,619 sq. ft. in the top floor of the
               Administrative Building and organized into various sections, supervised and maintained 
               by highly qualified professional staff members. The Library serves the academic needs
                of about 1500 students and nearly 300 faculty & staff members of our Institute. 
              The resources of the Library stand more than 31,000 volumes of books, 150 back-volumes 
              of periodicals and 1422 CD ROMs. The Library is subscribing 112 print and 1000 E-journals
               & magazines in the field of Science, Engineering & Technology. All e-journals & magazines
                are subscribed through different e-Journals renowned publishers mainly IEEE, J-GATE, 
                SPRINGER, 
                ELSVIER, ASME, McGraw Hill and ASTME.
              
              The fully automated Library uses Lib Sys (LSEase Rel. 5.7.1.) automation software for all the
               house-keeping operations like acquisition, cataloguing, circulation, etc.
               A single bar coded Library Membership Card is provided to every user generating through LibSys.
                The entire collection of books, CD ROMs, etc. is bar-coded and all the databases are available
                 in campus network System through Online Public Access Catalogue (OPAC).
